spring:
  application:
    name: order-service

server:
  port: 8201

eureka:
  client:
    service-url:
      #默认地点-不是云服务只能写defaultZone
      defaultZone: http://eureka1:2001/eureka,http://eureka2:2002/eureka

#设置feign打开hystrix
feign:
  hystrix:
    enabled: false

#设置board监控 暴露端点!
management:
  endpoints:
    web:
      exposure:
        include: hystrix.stream