spring:
  application:
    name: order-service
  cloud:
    config:
      override-none: true
  rabbitmq:
    host: 192.168.126.128
    port: 5672
    username: MiChaelJordan
    password: 666666
    zipkin:
      sender:
        type: rabbit

server:
  port: 8201

eureka:
  client:
    service-url:
      #默认地点-不是云服务只能写defaultZone
      defaultZone: http://eureka1:2001/eureka,http://eureka2:2002/eureka

#设置feign打开hystrix
feign:
  hystrix:
    enabled: false

#设置board监控 暴露端点!
management:
  endpoints:
    web:
      exposure:
        include: hystrix.stream